---
import "../style/index.css";
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="AUA!">
<main class="main">
    <section class="block block-first">
        <div class="block_layout-wrapper">
            <article class="article_teaser"><img class="dynamic" src="titel_bilder/bild.jpg"></img></article>
        </div>
    </section>
    <section class="block">
        <div class="block_layout-wrapper">
            <article class="article_teaser"><img class="dynamic" src="titel_bilder/bild.jpg"></img></article>
        </div>
    </section>
    <section class="block">
        <div class="block_layout-wrapper">
            <article class="article_teaser"><img class="dynamic" src="titel_bilder/bild.jpg"></img></article>
        </div>
    </section>
    <section class="block">
        <div class="block_layout-wrapper">
            <article class="article_teaser"><img class="dynamic" src="titel_bilder/bild.jpg"></img></article>
        </div>
    </section>
</main>
</Layout>

