---
const { content } = Astro.props;
import Layout from "../layouts/Layout.astro";
---

<Layout title={content.titel}>
    <div class="head_line">
        <div><span class="clatch_titel">{content.catch_titel}</span></div>
        <div><span class="titel">{content.titel}</span></div>
    </div>
    <div class="title_img">
        <img src={content.teaser_img} alt="" />
    </div>

    <div class="content">
        <slot />
    </div>
</Layout>
