---
import "../style/layout.css";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script
            src="https://kit.fontawesome.com/8f9e439ff7.js"
            crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="ad_left"></div>
        <div class="page_wrapper">
            <div class="header">
                <div class="page_header_logo">
                    <a href="#"
                        ><img
                            class="header_logo_img"
                            src="logo.png"
                            alt="AUA! - Logo"
                        /></a
                    >
                </div>
                <nav class="page_header_nav">
                    <ul class="nav_list">
                        <li>
                            <a href="" class="nav_btn"
                                ><span class="nav_btn_icon">
                                    <i class="fa-solid fa-cloud"></i>
                                </span><span class="nav_btn_text">Test</span></a
                            >
                        </li>
                        <li>
                            <a href="" class="nav_btn nav_btn_border"
                                ><span class="nav_btn_icon">
                                    <i class="fa-solid fa-cloud"></i>
                                </span><span class="nav_btn_text">Test</span></a
                            >
                        </li>
                        <li>
                            <a href="" class="nav_btn"
                                ><span class="nav_btn_icon">
                                    <i class="fa-solid fa-cloud"></i>
                                </span><span class="nav_btn_text">Test</span></a
                            >
                        </li>
                        <li>
                            <a href="" class="nav_btn"
                                ><span class="nav_btn_icon">
                                    <i class="fa-solid fa-cloud"></i>
                                </span><span class="nav_btn_text">Test</span></a
                            >
                        </li>
                    </ul>
                    <div class="menu">
                        <div class="menu_wrapper">
                            <ul class="nav-list">
                                <li>
                                    <a href="" class="menu_btn"
                                        ><span class="menu_btn_text">Lorem</span
                                        ></a
                                    >
                                </li>
                                <li>
                                    <a href="" class="menu_btn"
                                        ><span class="menu_btn_text">Lorem</span
                                        ></a
                                    >
                                </li>
                                <li>
                                    <a href="" class="menu_btn"
                                        ><span class="menu_btn_text">Lorem</span
                                        ></a
                                    >
                                </li>
                                <li>
                                    <a href="" class="menu_btn"
                                        ><span class="menu_btn_text">Lorem</span
                                        ></a
                                    >
                                </li>
                                <li>
                                    <a href="" class="menu_btn"
                                        ><span class="menu_btn_text">Lorem</span
                                        ></a
                                    >
                                </li>
                                <li>
                                    <a href="" class="menu_btn"
                                        ><span class="menu_btn_text">Lorem</span
                                        ></a
                                    >
                                </li>
                                <li>
                                    <a href="" class="menu_btn"
                                        ><span class="menu_btn_text">Lorem</span
                                        ></a
                                    >
                                </li>
                                <li>
                                    <a href="" class="menu_btn"
                                        ><span class="menu_btn_text">Lorem</span
                                        ></a
                                    >
                                </li>
                                <li>
                                    <a href="" class="menu_btn"
                                        ><span class="menu_btn_text">Lorem</span
                                        ></a
                                    >
                                </li>
                                <li>
                                    <a href="" class="menu_btn"
                                        ><span class="menu_btn_text">Lorem</span
                                        ></a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="sub_nav">
                <a href=""> <span>Importan!!!!! Rotating Text</span></a>
            </div>
            <div class="page_content">
                <slot />
            </div>
            <footer>
                <div class="footer_buttons"></div>
                <div class="imp_links">
                    <a href=""><span class="imp_link_text">Impressum</span></a>
                    <a href=""><span class="imp_link_text">Datenschutz</span></a>
                </div>
            </footer>
        </div>
        <div class="ad_right"></div>
    </body>
</html>
